/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: RPM_video_container_tablestyle;
	border-collapse: separate;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	max-id: 4;
	overflow: hidden;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	background-color: #f2f2f2;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: center;
	cell-padding-left: 10px;
	cell-padding-right: 5px;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column2;
	id: 1;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-right: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 10px;
	name: Body1;
	id: 2;
	separator-color: #ffffff;
	size: 210px;
}


/* Cell Styles: */
 
.TableStyle-RPM_video_container_tablestyle
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #f2f2f2;
	border-left-style: none;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-RPM_video_container_tablestyle-Column-Column1
{
	
}

.TableStyle-RPM_video_container_tablestyle-Column-Column2
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadI-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadI-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadE-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-HeadE-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadF-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadF-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadH-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-HeadH-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadD-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadD-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadC-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadC-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadB-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-HeadB-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadA-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadA-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadG-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-HeadG-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadI-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadI-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadE-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-HeadE-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadF-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadF-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadH-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-HeadH-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadD-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadD-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadC-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadC-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadB-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-HeadB-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadA-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadA-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-HeadG-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-HeadG-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootI-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootI-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootE-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-FootE-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootF-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootF-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootH-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-FootH-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootD-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootD-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootC-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootC-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootB-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-FootB-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootA-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootA-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootG-Column1-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-FootG-Column1- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootI-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootI-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootE-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-FootE-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootF-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootF-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootH-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-FootH-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootD-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootD-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootC-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootC-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootB-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-FootB-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootA-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootA-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-FootG-Column2-
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-FootG-Column2- p
{
	
}

.TableStyle-RPM_video_container_tablestyle-Body-Body1
{
	height: 210px;
}

.TableStyle-RPM_video_container_tablestyle-BodyI-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyE-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyF-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyH-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyD-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyC-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyB-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RPM_video_container_tablestyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyA-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyG-Column1-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 5px;
}

.TableStyle-RPM_video_container_tablestyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyI-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyE-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyF-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyH-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyD-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 10px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyC-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyB-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-RPM_video_container_tablestyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyA-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-RPM_video_container_tablestyle-BodyG-Column2-Body1
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 10px;
}

.TableStyle-RPM_video_container_tablestyle-BodyG-Column2-Body1 p
{
	
}


